

<div *ngFor="let movie of movies">
  <!-- Display movie data here -->
</div>

<h1>Hello</h1>

<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">
    <li class="page-item" [class.disabled]="currentPage === 1">
      <a class="page-link" href="#" (click)="onPageChange(currentPage - 1)">Previous</a>
    </li>
    <li class="page-item">
      <a class="page-link">{{ currentPage }}</a>
    </li>
    <li class="page-item" [class.disabled]="currentPage === totalPages">
      <a class="page-link" href="#" (click)="onPageChange(currentPage + 1)">Next</a>
    </li>
  </ul>
</nav>