<section class="row gap-3 justify-content-center">

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" [class.active]="tabAtual === 'Meus favoritos'" (click)="selectOption('Meus favoritos')">Meus
        favoritos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [class.active]="tabAtual === 'Mais populares'" (click)="selectOption('Mais populares')">Mais
        populares</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [class.active]="tabAtual === 'Mais votados'" (click)="selectOption('Mais votados')">Mais
        vistos</a>
    </li>
  </ul>

</section>

<app-paginacao *ngIf="tabAtual !== 'Meus favoritos'" [currentPage]="paginaAtualHome" (currentPageChange)="onCurrentPageChange($event)"></app-paginacao>
<app-lista-filme [tabAtual]="tabAtual" [paginaAtualLista]="paginaAtualHome"></app-lista-filme>